::v-deep.van-nav-bar .van-icon {
  color: #000000;
}

.hotel-container {
  //background: url("./image/bg@2x.png");
  background-size: cover;
  background: #ffffff;
}
.title {
  background-image: url(./image/title-bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 600;
  color: #292a2c;
}

.subtitle {
  .self {
    width: 110px;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 600;
    color: #292a2c;
  }
  .peers-group {
    // width: calc(100% - 130px);
    width: 100%;
    overflow-y: auto;
    position: relative;
    white-space: nowrap;
    span {
      display: inline-block;
      margin: 4px 6px;
      font-size: 14px;
      padding: 0 4px;
      height: 30px;
      line-height: 28px;
      color: #9094A8;
      border: 1px solid #9094a8;
      text-align: center;
      border-radius: 15px;
      box-shadow: 0px 2px 4px 0px rgba(247, 86, 82, 0.1);
      &.active {
        background: linear-gradient(90deg, #f2551a, #ec222d);
        color: #ffffff;
        border: 1px solid #f2551a;
        font-weight: 600;
      }
    }
  }
}

::v-deep.tabs-cont {
  .van-tab {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 25%;
      bottom: auto;
      right: 0;
      width: 1px;
      height: calc(100% - 50%);
      background-color: #ebebf1;
    }
  }
  .van-tab--active {
    margin: 6px 0;
    color: #fff;
    z-index: 30;
    transition: 0.3s;
    & .van-tab__text {
      position: relative;
      z-index: 30;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("./image/tab-bg.png");
      background-position: top center;
      background-size: cover;
      border-radius: 0.36rem;
      z-index: 25;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #c7000b;
      border-radius: 0.36rem;
      z-index: 20;
    }
  }
}

.hotel-card {
  padding: 0 1rem;
  transform: translateY(-1.25rem);
  .hotel-name,
  .hotel-info {
    background-color: #000;
  }
  .hotel-name {
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    background-color: #c7000b;
    color: #ffffff;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.15rem;
    padding: 0 1rem;
  }
  .hotel-info {
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    background-color: #ffffff;
    padding: 5px 1rem 10px 1rem;
  }
}

.hotel-info .info-item {
  height: 1.25rem;
  line-height: 21px;
  padding: 3px 0;
  box-sizing: content-box;
  font-size: 15px;
  position: relative;
  .tel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #fff;
    opacity: 0;
  }
}

.item-title {
  width: 45px;
  height: 21px;
  font-size: 15px;
  font-family: PingFangSC, PingFangSC-Light;
  font-weight: 300;
  text-align: left;
  color: #595b64;
  line-height: 21px;
}
.item-text {
  color: #292a2c;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  line-height: 21px;
  &.text-phone {
    color: #c7000b;
  }
}
.item-text-phone{
  color: #c7000b;
}

.journey-card {
  padding: 0 1rem;
  .card-content {
    position: relative;
    padding-bottom: 10px;
  }
}




.journey-container {
  padding-top: 15px;
  .journey-card:last-child {
    .card-content::before {
      height: calc(100% - 0.5625rem);
    }
  }
  .journey-card:last-child {
    .card-content {
      padding-bottom: 0rem;
    }
  }
}

.card-inner .inner-title {
  font-size: 0.9375rem;
  font-weight: 600;
  text-align: left;
  color: #292a2c;
  padding-bottom: 0.3125rem;
}

.signin-cont {
  position: absolute;
  top: 0;
  right: 17%;
  width: 88px;
  height: 99px;
  img {
    width: 100%;
    vertical-align: middle;
  }
}

// 未开始
.journey-card.notstarted {
  .card-title {
    padding-left: 0.8rem;
    color: #C7000B;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
  }
  .card-content::before {
    content: "";
    position: absolute;
    top: 1rem;
    bottom: auto;
    left: 0;
    width: 1px;
    height: 90%;
    border-left:3px dashed #EC4831;
    z-index: 2;
  }

  .card-title::before {
    background-color: #2b69e2;
  }
  .card-inner {
    background-color: #fff;
    margin: 10px 5px 0 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    .inner-title{
      color: #c7cccc;
    }
    .inner-item{
      margin-top: 10px;
      font-size: 0.9375rem;
      .item-text {
        color: #c7cccc;
      }
      .item-title {
        color: #c7cccc;
      }
    }
  }
}

// 进行中
.journey-card.ongoing {
  .card-title {
    padding-left: 0.8rem;
    color: #C7000B;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
  }
  .card-content::before {
    content: "";
    position: absolute;
    top: 1rem;
    bottom: auto;
    left: 0;
    width: 1px;
    height: 90%;
    border-left:3px dashed #EC4831;
    z-index: 2;
  }
  .card-title::before{
    background-color: #2b69e2;
  }
  .card-inner {
    background-color: #fff;
    margin: 10px 5px 0 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    .inner-title{
      color: #292A2C;
    }
    .inner-item{
      margin-top: 10px;
      font-size: 0.9375rem;
      .item-text {
        color: #292A2C;
      }
      .item-title {
        color: #595B64;
      }
    }
  }
}

// 已结束
.journey-card.finished {
  .card-title {
    padding-left: 0.8rem;
    color: #9094a8;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
  }
  .card-content::before {
    content: "";
    position: absolute;
    top: 1rem;
    bottom: auto;
    left: 0;
    width: 1px;
    height: 90%;
    border-left:3px dashed #b7bacc;
    z-index: 2;
  }
  .card-inner {
    background-color: #fff;
    margin: 10px 5px 0 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    .inner-title{
      color: #c7cccc;
    }
    .inner-item{
      margin-top: 10px;
      font-size: 0.9375rem;
      .item-text {
        color: #c7cccc;
      }
      .item-title {
        color: #c7cccc;
      }
    }
  }
}
