::v-deep.van-nav-bar .van-icon {
  color: #000000;
}

// FanAo 样式调整开始
.notice-div {
  background-color: #ffffff;
  border-top: 0.04rem solid #EBEBF1;
  border-bottom: 1px solid #E5E6EAFF;

  .notice-title {
    overflow: auto;
    zoom: 1;
    padding: 10px 0 0 15px;

    .greeting {
      float: left;
      font-size: 1.125rem;
      font-weight: 600;
      text-align: left;
      color: #292a2c;
      line-height: 1.5625rem;
    }

    .notic-all {
      float: right;
      font-size: 12px;
      font-weight: 500;
      text-align: left;
      color: #c7000b;
      background: #fff3f3;
      border-radius: 0.3125rem;
      padding: 0 4px 0 5px;
      width: 46px;
      display: flex;
      align-items: center;
      margin-right: 15px;
      margin-top: 2px;

      img {
        width: 8px;
        height: 7px;
        margin-left: 5px;
      }
    }
  }
}

.hotel-container {
  background-size: cover;
  background: #ffffff;
  padding-top: 30px;

  .hotel-div {
    position: relative;
    margin: 0px 18px;
    height: 172px;
    padding: 5px;

    .border-box {
      position: relative;
      width: 22px;
      height: 32px;

      .point {
        width: 5px;
        height: 5px;
        background: #c7000b;
        border-radius: 5px;
        position: absolute;
      }
    }

    .hotel-title {
      position: absolute;
      top: -5px;
      width: 100%;

      .title-inner {
        display: flex;
        justify-content: center;
        position: relative;

        .bg-l {
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
        }

        .bg-inner {
          width: 262px;
          height: 0;
          border-bottom: 10px solid #A4020B;
        }

        .bg-out {
          position: absolute;
          top: 0;
          width: 240px;
          height: 0;
          border-top: 35px solid #C7000B;
        }

        img {
          position: absolute;
          top: 5px;
          width: 96px;
        }
      }
    }

    .hotel-content {
      height: 100%;

      .hotel-name {
        height: 36px;
        background: linear-gradient(90deg, rgba(199, 0, 11, 0.11), rgba(199, 0, 11, 0) 53%, rgba(199, 0, 11, 0.1));

        .name {
          font-size: 17px;
          font-weight: 500;
          text-align: center;
          color: #292a2c;
          line-height: 36px;
        }

        .name-l {
          position: absolute;
          top: -3px;
          width: 0;
          height: 41px;
          border-top: 3px solid transparent;
          border-bottom: 3px solid transparent;
        }

        .name_left-l {
          border-left: 5px solid #C7000B;
        }

        .name-right-l {
          border-right: 5px solid #C7000B;
        }
      }

      .hotel-info {
        .hotel_right-tag {
          width: 7px;
          height: 28px;
          right: -17px;
        }

        .hotel_left-tag {
          width: 7px;
          height: 40px;
          left: -17px;
          top: -10px;
        }
      }
    }

    .border-all {
      border: 1px solid #C7000B;
    }

    .border-box.right-l {
      border-right: 1px solid #c7000b;
    }

    .border-box.left-l {
      border-left: 1px solid #c7000b;
    }

    .border-box.bottom-l {
      border-bottom: 1px solid #c7000b;
    }

    .border-box.top-l {
      border-top: 1px solid #c7000b;
    }
  }
}

.journey-card {

  .card-title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
    color: #9094A8;
  }

  .card-content{
    .card-inner::before {
      content: "";
      position: absolute;
      top: 14px;
      bottom: auto;
      left: 0;
      width: 1px;
      height: 90%;
      border-left: 3px dashed #EC4831;
      z-index: 2;
    }
  }
}

.red-title {
  color: #C7000B;
}

.red-title::before {
  background: rgba(249, 80, 32, 1);
}


// FanAo 样式调整结束


.title {
  background-image: url(./image/title-bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 600;
  color: #292a2c;
}

.subtitle {
  .self {
    width: 110px;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 600;
    color: #292a2c;
  }

  .peers-group {
    // width: calc(100% - 130px);
    width: 100%;
    overflow-y: auto;
    position: relative;
    white-space: nowrap;

    span {
      display: inline-block;
      margin: 4px 6px;
      font-size: 14px;
      padding: 0 4px;
      height: 30px;
      line-height: 28px;
      color: #9094A8;
      border: 1px solid #9094a8;
      text-align: center;
      border-radius: 15px;
      box-shadow: 0px 2px 4px 0px rgba(247, 86, 82, 0.1);

      &.active {
        background: linear-gradient(90deg, #f2551a, #ec222d);
        color: #ffffff;
        border: 1px solid #f2551a;
        font-weight: 600;
      }
    }
  }
}

::v-deep.tabs-cont {
  .van-tab {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25%;
      bottom: auto;
      right: 0;
      width: 1px;
      height: calc(100% - 50%);
      //background-color: #ebebf1;
    }
  }

  .van-tab--active {
    margin: 6px 0;
    color: #fff;
    z-index: 30;
    transition: 0.3s;
    padding: 0 18px;

    & .van-tab__text {
      position: relative;
      z-index: 30;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("./image/tab.png");
      background-position: top center;
      background-size: cover;
      border-radius: 0.36rem;
      z-index: 25;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 130%;
      height: 100%;
      //background-color: #c7000b;
      border-radius: 0.36rem;
      z-index: 20;
    }
  }
}

.hotel-card {
  padding: 0 1rem;
  transform: translateY(-1.25rem);

  .hotel-name,
  .hotel-info {
    background-color: #000;
  }

  .hotel-name {
    border-top-left-radius: 0.3125rem;
    border-top-right-radius: 0.3125rem;
    background-color: #c7000b;
    color: #ffffff;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.15rem;
    padding: 0 1rem;
  }

  .hotel-info {
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
    background-color: #ffffff;
    padding: 5px 1rem 10px 1rem;
  }
}

.hotel-info .info-item {
  height: 1.25rem;
  line-height: 21px;
  padding: 3px 0;
  box-sizing: content-box;
  font-size: 15px;
  position: relative;

  .tel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: #fff;
    opacity: 0;
  }
}

.item-title {
  width: 45px;
  height: 21px;
  font-size: 15px;
  font-family: PingFangSC, PingFangSC-Light;
  font-weight: 300;
  text-align: left;
  color: #595b64;
  line-height: 21px;
}

.item-text {
  color: #292a2c;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  line-height: 21px;

  &.text-phone {
    color: #c7000b;
  }
}

.item-text-phone {
  color: #c7000b;
}

.journey-card {
  padding: 0 1rem;

  .card-content {
    position: relative;
    padding-bottom: 24px;
  }
}

.journey-container {
  padding-top: 15px;
  padding-bottom: 15px;

  .journey-card:last-child {
    .card-inner::before {
      height: calc(100% - 50px);
    }
  }

  .journey-card:last-child {
    .card-content {
      padding-bottom: 0rem;
      margin-bottom: 1rem;
    }
  }
}

.card-inner .inner-title {
  font-size: 0.9375rem;
  font-weight: 600;
  text-align: left;
  color: #292a2c;
  padding-bottom: 0.3125rem;
}

.signin-cont {
  position: absolute;
  top: -10px;
  right: 17%;
  width: 88px;
  height: 99px;

  img {
    width: 100%;
    vertical-align: middle;
  }
}

// 未开始
.journey-card.notstarted {
  .card-title::before {
    content: "";
    width: 28px;
    height: 4px;
    display: block;
    margin-bottom: 6px;
    background: #F95020;
  }
  .card-title {
    color: #C7000B;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
  }
  .card-inner::before {
    content: "";
    position: absolute;
    top: 14px;
    bottom: auto;
    left: 3px;
    width: 1px;
    height: 105%;
    border-left: 3px dashed #C7000B;
    z-index: 2;
  }
  .card-inner {
    background-color: #fff;
    margin: 10px 5px 0 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    .card-inner-content{
      padding: 20px 12px;margin-left: 20px;border: 0.001rem solid #B7BACC;position: relative;
      .border-bg-h{
        background: linear-gradient(90deg,#606374, #b7bacc 53%, #666980);;
      }
      .border-bg-v{
        background: linear-gradient(180deg,#606374, #b7bacc 53%, #666980);;
      }
      .top-right-edge{
        top: -8px;right: -3px;height: 22px;width: 13px;border-left: 1px solid #B7BACC;transform:rotate(-45deg);background: #ffffff
      }
      .bottom-left-round{
        border-radius: 4px;width: 4px;height: 4px;background: linear-gradient(128deg,#606374 18%, #b7bacc 54%, #666980 85%);
      }
    }
    .inner-title {
      color: #292A2C;
    }

    .inner-item {
      margin-top: 10px;
      font-size: 0.9375rem;

      .item-text {
        color: #292A2C;
      }

      .item-title {
        color: #292A2C;
      }
    }
  }
}

// 进行中
.journey-card.ongoing {
  .card-title::before {
    content: "";
    width: 28px;
    height: 4px;
    display: block;
    margin-bottom: 6px;
    background: #F95020;
  }
  .card-title {
    color: #C7000B;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
  }
  .card-inner::before {
    content: "";
    position: absolute;
    top: 14px;
    bottom: auto;
    left: 3px;
    width: 1px;
    height: 105%;
    border-left: 3px dashed #C7000B;
    z-index: 2;
  }
  .card-inner {
    background-color: #fff;
    margin: 10px 5px 0 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    .card-inner-content{
      padding: 20px 12px;margin-left: 20px;border: 0.001rem solid #C7000B;position: relative;
      .border-bg-h{
        background: linear-gradient(90deg,#9d0c0c, #cb3434 52%, #850b0b);
      }
      .border-bg-v{
        background: linear-gradient(180deg, #9d0c0c, #cb3434 52%, #8b0a0a);
      }
      .top-right-edge{
        top: -8px;right: -3px;height: 22px;width: 13px;border-left: 1px solid #C7000B;transform:rotate(-45deg);background: #ffffff
      }
      .bottom-left-round{
        border-radius: 4px;width: 4px;height: 4px;background: linear-gradient(137deg,#9d0c0c 18%, #cb3434 50%, #850b0b 79%);
      }
    }

    .inner-title {
      color: #292A2C;
    }

    .inner-item {
      margin-top: 10px;
      font-size: 0.9375rem;

      .item-text {
        color: #292A2C;
      }

      .item-title {
        color: #595B64;
      }
    }
  }
}

// 已结束
.journey-card.finished {
  .card-title::before {
    content: "";
    width: 28px;
    height: 4px;
    display: block;
    margin-bottom: 6px;
    background: rgba(183, 186, 204, 1);
  }
  .card-title {
    color: #9094a8;

  }
  .card-inner::before {
    content: "";
    position: absolute;
    top: 14px;
    bottom: auto;
    left: 3px;
    width: 1px;
    height: 105%;
    border-left: 3px dashed #B7BACC;
    z-index: 2;
  }
  .card-inner {
    background-color: #fff;
    margin: 10px 5px 0 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    .card-inner-content{
      padding: 20px 12px;margin-left: 20px;border: 0.001rem solid #B7BACC;position: relative;
      .border-bg-h{
        background: linear-gradient(90deg,#606374, #b7bacc 53%, #666980);;
      }
      .border-bg-v{
        background: linear-gradient(180deg,#606374, #b7bacc 53%, #666980);;
      }
      .top-right-edge{
        top: -8px;right: -3px;height: 22px;width: 13px;border-left: 1px solid #B7BACC;transform:rotate(-45deg);background: #ffffff
      }
      .bottom-left-round{
        border-radius: 4px;width: 4px;height: 4px;background: linear-gradient(128deg,#606374 18%, #b7bacc 54%, #666980 85%);
      }
    }
    .inner-title {
      color: #c7cccc;
    }

    .inner-item {
      margin-top: 10px;
      font-size: 0.9375rem;

      .item-text {
        color: #c7cccc;
      }

      .item-title {
        color: #c7cccc;
      }
    }
  }
}

.top-2{
  top: -2px;
}
.bottom-2{
  bottom: -2px;
}
.right-2{
  right: -2px;
}
.left-2{
  left: -2px;
}
.top-1{
  top: -1px;
}
.bottom-1{
  bottom: -1px;
}
.right-1{
  right: -1px;
}
.left-1{
  left: -1px;
}
.height3{
  height: 3px;
}
